## for Local Build

# Mandatory Vars

NAME='Jannat'
## Name of receiver

PIC='IMG_20260608_005617.jpg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Jannatu'
## A Nickname for more personalization

HBD_MSG='Happy Birthday meri Jannat ❤️🎂'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2026-06-08'
## Active Date in YYYY-MM-DD format
